* {
  margin: 0;
}
html, body {
  height: 100%;
}

/*common style*/
.w3-btn-block{
    padding:20px;
    border-radius:5px;
    font-size: 20px;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.modal_district_list{
  width:300px;
}
.modal_district_list a{
  text-decoration: none;
}
.modal_district_list a:hover{
  text-decoration: underline;
}
/*common style ends*/


/*handy class*/
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/*handy class ends*/


/*indivisual*/
	/*superadmin*/
	#district{
	  display: none;
	}
	#disSaveBtn{
	  display: none;
	}
	#esSaveBtn{
	  display: none;
	}
	#disInFieldText{
	  display: none;
	}
	#es{
	  display: none;
	}
	#esInFieldText{
	  display: none;
	}
	#adminSaveBtn, #admin 
	{
	  display: none;
	}

	/*districtadmin*/
	#formerPosNum{
		display: none;
	}
	
/*individual style ends*/


/*footer */
.site-footer, .page-wrap:after {
  height: 70px; 
}
.site-footer {
  background: green;
  padding-top: 2%;
}
/*footer ends*/




