* {
  margin: 0;
}
html, body {
  height: 100%;

}

/*handy class*/
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.border-bottom-top{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
.border-left-right{
  border-left:1px solid black;
  border-right:1px solid black;
}
.underline{
	text-decoration: underline;
	cursor: pointer;
}
.admin-details{
	min-width:300px;
}
.close-pop {
 display: none;
}
.no-underline{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}
/*handy class ends*/

/*political tabs*/
.seat {
  display:none;
}
.leader_details_modal{
  width: 500px;
}
/*political tab ends*/

/*project*/
.project{
  display: none;
}
/*project ends*/

/*admin*/
.admin li:hover{
  background: #d9d9d9;
}
/*admin ends*/

/*for footer*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px; 
}
.site-footer {
  background: green;
  padding-top: 2%;
}
/*end footer*/