* {
  margin: 0;
}
html, body {
  height: 100%;
}

/*common style*/
.w3-btn-block{
    padding:20px;
    border-radius:5px;
    font-size: 20px;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.modal_district_list{
  width:300px;
}
.modal_district_list a{
  text-decoration: none;
}
.modal_district_list a:hover{
  text-decoration: underline;
}
/*common style ends*/


/*handy class*/
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/*handy class ends*/


/*indivisual*/
  /*button for division list*/
      .button {
      border-radius: 4px;
      background-color:#5c5c3d;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 15px;
      width: 250px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      }

      .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }

      .button span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }

      .button:hover span {
      padding-right: 25px;
      }

      .button:hover span:after {
      opacity: 1;
      right: 0;
      }
  /*button for division list ends*/
/*individual style ends*/


/*footer */
.site-footer, .page-wrap:after {
  height: 70px; 
}
.site-footer {
  background: green;
  padding-top: 2%;
}
/*footer ends*/


