* {
  margin: 0;
}
html, body {
  height: 100%;
}

/*handy class*/
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.border-bottom-top{
  border-top:1px solid black;
  border-bottom:1px solid black;
}
.border-left-right{
  border-left:1px solid black;
  border-right:1px solid black;
}
.underline{
  text-decoration: underline;
  cursor: pointer;
}
.admin-details{
  min-width:300px;
}
.close-pop {
 display: none;
}
.no-underline{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}
.custom-red{
  background: #ff4d4d;
}
/*handy class ends*/

/*slide*/
.slide_con{
  position: relative;
  top:10px;
  max-width: 800px;
  max-height: 400px;

}
.full-width{
  width: 100%;
}
.mySlides {
  display:none;
 
}
.interval{
  margin-bottom:20px;
  margin-top:-50px;
}
/*slide ends*/

/*for footer*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px; 
}
/*.page-wrap:after {
  content: "";
  display: block;
}*/
.site-footer, .page-wrap:after {
  height: 70px; 
}
.site-footer {
  background: green;
  padding-top: 2%;
}
/*end footer*

